@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: auto;
}

h2 {
  margin-left: 1rem;
}

h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

/* Haut de page */
.hautdepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}
.hautdepage__logo {
  font-family: "Shrikhand", cursive;
  margin: 0.5rem;
}
.hautdepage__img {
  object-fit: cover;
  height: 20rem;
}

/* Bas de page */
.basdepage {
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 0.5rem 0rem;
}
.basdepage__logo {
  font-family: "Shrikhand", cursive;
  padding-left: 2.6rem;
}
.basdepage__liens {
  display: flex;
  align-items: center;
  padding: 0.25rem;
}
.basdepage__text {
  padding-left: 1rem;
}
.basdepage__text2 {
  padding-left: 0.6rem;
}
.basdepage__list {
  list-style: none;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: black;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.8;
  animation: chargement 1s 2s;
  animation-fill-mode: forwards;
}
.loader::after {
  content: "";
  width: 6rem;
  height: 6rem;
  border-top: 5px solid #9356DC;
  border-right: 5px solid #FF79DA;
  border-bottom: 5px solid #99E2D0;
  border-radius: 50%;
  animation: spin 2s infinite linear;
}

/* Localisation */
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #e6e3e3;
  padding: 0.75rem;
}
.localisation__form {
  border: none;
  background-color: #e6e3e3;
  text-align: center;
}

.titreprincipal {
  padding: 2.5rem;
  padding-bottom: 3.5rem;
  background-color: #F3F3F3;
  text-align: center;
}
.titreprincipal__titre {
  margin: 0;
}
.titreprincipal__soustitre {
  font-weight: 300;
  margin: 1rem;
  margin-bottom: 2rem;
}
.titreprincipal__btn {
  color: white;
  background-image: linear-gradient(to top, rgb(216, 140, 224), rgb(176, 78, 206));
  border-radius: 10rem;
  padding: 1rem 2rem;
  border: 0;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition-duration: 0.5s;
  font-size: 0.9rem;
}
.titreprincipal__btn:hover {
  background-image: linear-gradient(to top, rgb(220, 152, 228), rgb(179, 93, 206));
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

/* Fonctionnement */
.fonctionnement {
  padding-bottom: 2rem;
  padding-top: 1rem;
  padding-right: 1rem;
}
.fonctionnement__titre {
  padding-bottom: 0.5rem;
}
.fonctionnement__btn {
  list-style: none;
  counter-reset: listechiffre;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}
@media (min-width: 768px) {
  .fonctionnement__btn {
    flex-direction: row;
  }
}
.fonctionnement__btn-flex {
  background-color: #F3F3F3;
  padding: 1.5rem 2rem;
  border-radius: 1.25rem;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  flex-grow: 1;
  position: relative;
}
.fonctionnement__btn-flex:hover {
  background-color: #f2eafb;
  transform: scale(1.05);
}
.fonctionnement__btn-flex:hover i {
  color: #9356DC;
}
.fonctionnement__btn-flex::before {
  content: counter(listechiffre);
  counter-increment: listechiffre;
  background-color: #9356DC;
  color: white;
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  bottom: 1rem;
  left: -1rem;
}
.fonctionnement__icon {
  margin-left: 1rem;
  margin-right: 2.5rem;
  color: #7e7e7e;
  font-size: 1.25rem;
}
/* Restaurants */
.restaurants {
  padding-top: 1rem;
  background-color: #F3F3F3;
}
@media (min-width: 768px) {
  .restaurants {
    display: grid;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .restaurants {
    padding-top: 2rem;
  }
}
.cartes {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
@media (min-width: 768px) {
  .cartes {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 1rem;
  }
}
@media (min-width: 1400px) {
  .cartes {
    grid-template-columns: repeat(4, 1fr);
    padding-top: 2.5rem;
    padding-bottom: 6rem;
  }
}

.carte {
  margin: 1rem;
  border-radius: 1rem;
  position: relative;
}
.carte:hover {
  transform: scale(1.01);
}
.carte__img {
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
  height: 12rem;
}
.carte__img-1 {
  background-image: url("../images/restaurants/menu-1.jpg");
}
@media (min-width: 992) {
  .carte__img-1 {
    height: 15rem;
  }
}
.carte__img-2 {
  background-image: url("../images/restaurants/menu-2.jpg");
}
@media (min-width: 992) {
  .carte__img-2 {
    height: 15rem;
  }
}
.carte__img-3 {
  background-image: url("../images/restaurants/menu-3.jpg");
}
@media (min-width: 992) {
  .carte__img-3 {
    height: 15rem;
  }
}
.carte__img-4 {
  background-image: url("../images/restaurants/menu-4.jpg");
}
@media (min-width: 992) {
  .carte__img-4 {
    height: 15rem;
  }
}
.carte__nouveau {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.carte__description {
  position: relative;
  background-color: white;
  padding: 1rem;
  border-radius: 0rem 0rem 1rem 1rem;
}
.carte__description::before {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 200ms ease-in-out;
  opacity: 1;
}
.carte__description::after {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 200ms ease-in-out;
  opacity: 0;
  background-image: linear-gradient(to top, rgb(216, 140, 224), rgb(176, 78, 206));
}
.carte__description:hover::after {
  opacity: 1;
  transform: scale(1.2);
}
.carte__titre {
  margin: 0;
  margin-bottom: 0.25rem;
}
.carte__soustitre {
  margin: 0;
}

@keyframes icone360 {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate 0;
  }
}
@keyframes apparition {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes chargement {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
#page-resto .hautdepage::before {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f060";
  position: absolute;
  left: 1.5rem;
  font-size: 20px;
}
.hautdepage #page-resto__img {
  object-fit: cover;
  display: block;
  height: 70vh;
}
#page-resto .menu {
  background-color: #F3F3F3;
  padding: 1rem 1rem;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  bottom: 2rem;
}
#page-resto .menu__titre {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  position: relative;
}
#page-resto .menu__titre::before {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 200ms ease-in-out;
  opacity: 1;
  top: 0.3rem;
  right: 1.5rem;
}
#page-resto .menu__titre::after {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 200ms ease-in-out;
  opacity: 0;
  background-image: linear-gradient(to top, rgb(216, 140, 224), rgb(176, 78, 206));
  top: 0.3rem;
  right: 1.5rem;
}
#page-resto .menu__titre:hover::after {
  opacity: 1;
  transform: scale(1.2);
}
#page-resto .menu__soustitre {
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}
#page-resto .menu__soustitre::after {
  content: "";
  background-color: #99E2D0;
  height: 0.25rem;
  width: 3rem;
  display: inline-block;
  position: absolute;
  left: 0rem;
  top: 1.7rem;
}
@media (min-width: 1000px) {
  #page-resto .menucartes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 2rem;
  }
}
#page-resto .menucarte {
  display: flex;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  margin: 1rem;
  overflow: hidden;
  animation: apparition 1s;
}
#page-resto .menucarte:nth-child(1) {
  animation-delay: 100ms;
}
#page-resto .menucarte:nth-child(2) {
  animation-delay: 200ms;
}
#page-resto .menucarte:nth-child(3) {
  animation-delay: 300ms;
}
#page-resto .menucarte__titre {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#page-resto .menucarte__description {
  padding: 1rem;
  overflow: hidden;
}
#page-resto .menucarte__description p {
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#page-resto .menucarte__text {
  font-size: 0.95rem;
}
#page-resto .menucarte__prix {
  margin-left: auto;
  font-weight: bold;
  padding: 1rem;
  font-size: 0.95rem;
  display: flex;
  align-items: flex-end;
}
#page-resto .menucarte__check {
  background-color: #99E2D0;
  border-radius: 0rem 1rem 1rem 0rem;
  width: 4rem;
  margin-right: -4rem;
  transition: margin-right 0.75s;
  display: grid;
  place-items: center;
  flex-shrink: 0;
}
#page-resto .menucarte__check i {
  display: grid;
  place-items: center;
  background-color: white;
  border-radius: 1rem;
  width: 1.5rem;
  aspect-ratio: 1;
  color: #99E2D0;
}
#page-resto .menucarte:hover .menucarte__check {
  margin-right: 0;
}
#page-resto .menucarte:hover i {
  animation: icone360 0.75s;
}
#page-resto .commander {
  display: flex;
  justify-content: center;
  margin-top: -2rem;
  padding-bottom: 2rem;
  background-color: #F3F3F3;
}
#page-resto .commander__btn {
  color: white;
  background-image: linear-gradient(to top, rgb(216, 140, 224), rgb(176, 78, 206));
  border-radius: 10rem;
  padding: 1rem 2rem;
  border: 0;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition-duration: 0.5s;
  font-size: 0.9rem;
  display: grid;
  place-items: center;
}
#page-resto .commander__btn:hover {
  background-image: linear-gradient(to top, rgb(220, 152, 228), rgb(179, 93, 206));
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
