@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

:root {
    --violet: #9356DC;
    --rose: #FF79DA;
    --vert: #99E2D0;
    --grisclair: #D3D3D3;
    --gristresclair: #F3F3F3;
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: auto;
}

h1, h2 {
    font-family: 'Shrikhand';
}

h2 {
    margin-left: 20px;
}

a { 
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

/* Haut de page */
.hautdepage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 50%;
}

/* Localisation */
.localisation {
    text-align: center;
    background-color: var(--grisclair);
    padding: 0px 5px 0px 5px;
}

/* Titre */
.titreprincipal {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: var(--gristresclair);
}

.titre {
    flex-wrap: wrap;
}

/* Sous-titre */
.soustitre {
    flex-wrap: wrap;
    padding-bottom: 10px;
    font-weight: lighter;
}

/* Bouton de recherche */
.bouttonrecherche {
    color: white;
    background-color:var(--violet);
    border-radius: 15px;
    padding: 10px;
    font-size: small;
}

/* Fonctionnement */
.bouttonfonctionnement {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Restaurants */

.restaurants {
    background-color: var(--gristresclair);
}
.restaurant img {
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    height: 160px;
}

.restaurant {
    margin: 0px auto;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
}

.descriptionrestaurant {
    line-height: 10px;
    padding: 0px 0px 5px 10px;
}

/* Bas de page */
.basdepage {
    background-color: #444140;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
}

