html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: auto;
}

h2 {
    margin-left: 20px;
}

a { 
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    width: 100%;
}


/* Haut de page */
.hautdepage {
    @include flex-center(row);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
      &__logo {
          font-family: "Shrikhand", cursive;
      }

      &__img {
        object-fit: cover;
        height: 20rem;
      }
    }
  