@mixin flex-center($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:$direction;
}

@mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin container($width) {
    width: $width;
    margin: 0 auto;
}
