/* Localisation */
.localisation {
    @include flex-center(row);
    background-color: $fond-gris;
    padding: 0.75rem;
  
        &__form {
            border: none;
            background-color: $fond-gris;
            text-align: center
        }
    }
  
.titreprincipal {
    padding: 2rem;
    text-align: center;
    background-color: $fond-grisclair;
  
        &__titre {
            margin: 0;
        }
  
        &__soustitre {
            font-weight: 300;
            margin: 1.5rem 0;
        }
  
        &__btn {
          @include btn-primary
        }
    }
  
  
  
/* Fonctionnement */
.fonctionnement {
    padding-bottom: 2.5rem;
    padding-top: 1rem;
     
     
        &__titre {
       
        }
  
        &__btn {
            @include flex-center(column);
        }
  
        &__btn-flex {
            @include flex-center(row);
        }
  
        &__text {
  
        }
    }
  
/* Restaurants */
.restaurants {
    padding-top:1rem;
    background-color: $fond-grisclair;
  
        &__titre {
        
        }
    }
  
.cartes {
  
    }
  
.carte {
    background-color: white;
    margin: 1rem;
    border-radius: 1rem;

  
        &__img {
            object-fit: cover;
            border-radius: 1rem 1rem 0 0;
            height: 12rem;
        }
  
        &__nouveau {

        }
  
        &__description {
            padding: 1rem;
        }
  
        &__titre {
            margin: 0;
            margin-bottom: 0.25rem;
        }
  
        &__soustitre {
            margin: 0;
        }
  
        &__btn-like {
            display: flex;


        }
    }
 
  