
/* Haut de page */
.hautdepage {
    @include flex-center(row);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
      &__logo {
          font-family: "Shrikhand", cursive;
      }
    }
  
/* Localisation */
.localisation {
    @include flex-center(row);
    background-color: $fond-gris;
    padding: 10px 0px 10px 0px;
  
        &__form {
            border: none;
            background-color: $fond-gris;
            text-align: center
        }
    }
  
.titreprincipal {
    padding: 2rem;
    text-align: center;
    background-color: $fond-grisclair;
  
        &__titre {
            margin: 0;
        }
  
        &__soustitre {
            font-weight: 300;
            margin: 1.5rem 0;
        }
  
        &__btn {
            color: $txt-fond-sombre;
            background-color:$fond-btn;
            border-radius: 15px;
            padding: 10px;
            font-size: small;
        }
    }
  
  
  
/* Fonctionnement */
.fonctionnement {
    padding-bottom: 2.5rem;
    padding-top: 1rem;
     
     
        &__titre {
       
        }
  
        &__btn {
            @include flex-center(column);
        }
  
        &__btn-flex {
            @include flex-center(row);
        }
  
        &__text {
  
        }
    }
  
/* Restaurants */
.restaurants {
    padding-top:1rem;
    background-color: $fond-grisclair;
  
        &__titre {
        
        }
    }
  
.cartes {
  
    }
  
.carte {
    background-color: white;
    margin: 1rem;
    border-radius: 1rem;

  
        &__img {
            object-fit: cover;
            border-radius: 1rem 1rem 0 0;
            height: 12rem;
        }
  
        &__nouveau {

        }
  
        &__description {
  
        }
  
        &__titre {
            margin: 0;
            margin-bottom: 0.25rem;
        }
  
        &__soustitre {
            margin: 0;
        }
  
        &__btn-like {
  display: flex;


        }
    }
  
  
/* Bas de page */
.basdepage {
    background-color: #444140;
    color: $txt-fond-sombre;
    padding: 1rem;
  
        &__logo {
            font-family: "Shrikhand", cursive;
        }

        &__liens {
        display: flex;
        align-items: center;
        padding: 0.25rem;
        }

        &__text {
            padding-left: 1rem;
        }

        &__text2 {
            padding-left: 0.6rem;
        }
    }

  
  