
/* Haut de page */
.hautdepage {
    @include flex-center(row);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
      &__logo {
          font-family: "Shrikhand", cursive;
      }
  }
  
  /* Localisation */
  .localisation {
      @include flex-center(row);
      background-color: $fond-gris;
      padding: 10px 0px 10px 0px;
  
      &__form {
          border: none;
          background-color: $fond-gris;
          text-align: center
      }
  }
  
  .titreprincipal {
      padding: 2rem;
      text-align: center;
      background-color: $fond-grisclair;
  
      &__titre {
          margin: 0;
          font-family: "Shrikhand", cursive;
      }
  
      &__soustitre {
          font-weight: 300;
          margin: 1.5rem 0;
      }
  
      &__btn {
          color: $txt-fond-sombre;
          background-color:$fond-btn;
          border-radius: 15px;
          padding: 10px;
          font-size: small;
      }
  }
  
  
  
  /* Fonctionnement */
  .fonctionnement {
      padding-bottom: 2rem;
     
     
      &__titre {
          font-family: "Shrikhand", cursive;
      }
  
      &__btn {
          @include flex-center(column);
      }
  
      &__btn-flex {
          @include flex-center(row);
      }
  
      &__text {
  
      }
  }
  
  /* Restaurants */
  .restaurants {
      padding-top: 5px;
      background-color: $fond-grisclair;
  
      &__titre {
          font-family: "Shrikhand", cursive;
      }
  }
  
  .cartes {
  
  }
  
  .carte {
      margin: 0px auto;
      background-color: white;
      border-radius: 10px;
      margin: 20px;
  
      &__img {
          object-fit: cover;
          border-radius: 10px 10px 0px 0px;
          height: 160px;
      }
  
      &__nouveau {
  
      }
  
      &__description {
          line-height: 10px;
          padding: 0px 0px 5px 10px;
      }
  
      &__titre {
  
      }
  
      &__soustitre {
  
      }
  
      &__btn-like {
  
      }
  }
  
  
  /* Bas de page */
  .basdepage {
      background-color: #444140;
      color: $txt-fond-sombre;
      padding: 1rem;
  
      &__logo {
          font-family: "Shrikhand", cursive;
      }
  
      &__liste {
  
      }
  }
  
  