@import './variables';
@import './mixins';
@import './placeholder';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: auto;
}

h2 {
    margin-left: 20px;
}

a { 
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

/* Haut de page */
.hautdepage {
  @include flex-center(row);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    &__logo {
        font-family: "Shrikhand", cursive;
    }
}

/* Localisation */
.localisation {
    @include flex-center(row);
    background-color: $fond-gris;
    padding: 10px 0px 10px 0px;

    &__form {
        border: none;
        background-color: $fond-gris;
        text-align: center
    }
}

/* Titre */
.titreprincipal {
    @include flex-center(column);
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: $fond-grisclair;

   
    &__titre {
        @include flex-wrap;
        font-family: "Shrikhand", cursive;
    }

    &__soustitre {
        @include flex-wrap;
        padding-bottom: 10px;
        font-weight: lighter;
    }

    &__btn {
        color: $txt-fond-sombre;
        background-color:$fond-btn;
        border-radius: 15px;
        padding: 10px;
        font-size: small;
    }
}


/* Fonctionnement */
.fonctionnement {
    padding-bottom: 20px;
   @include flex-center(column);
   
    &__titre {
        font-family: "Shrikhand", cursive;
    }

    &__btn {

    }

    &__btn-flex {
        @include flex-center(row);
    }

    &__text {

    }
}

/* Restaurants */
.restaurants {
    padding-top: 5px;
    background-color: $fond-grisclair;

    &__titre {
        font-family: "Shrikhand", cursive;
    }
}

.cartes {

}

.carte {
    margin: 0px auto;
    background-color: white;
    border-radius: 10px;
    margin: 20px;

    &__img {
        object-fit: cover;
        border-radius: 10px 10px 0px 0px;
        height: 160px;
    }

    &__nouveau {

    }

    &__description {
        line-height: 10px;
        padding: 0px 0px 5px 10px;
    }

    &__titre {

    }

    &__soustitre {

    }

    &__btn-like {

    }
}


/* Bas de page */
.basdepage {
    background-color: #444140;
    color: $txt-fond-sombre;
    padding-left: 10px;
    padding-top: 5px;

    &__logo {
        font-family: "Shrikhand", cursive;
    }

    &__liste {

    }
}

