@use "./variables" as v;

@mixin flex-center($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:$direction;
}

@mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin btn-primary {
    color: v.$txt-fond-sombre;
    background-image:linear-gradient(45deg, rgb(220, 126, 233),rgb(171, 62, 204));
    border-radius: 10rem;
    padding: 1rem 1.5rem;
    border: 0;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition-duration: 0.25s;

    &:hover {
        background-image:linear-gradient(45deg, rgb(217, 138, 228),rgb(176, 78, 206));
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
    }
}
