/* Localisation */
.localisation {
    @include flex-center(row);
    background-color: $fond-gris;
    padding: 0.75rem;
  
        &__form {
            border: none;
            background-color: $fond-gris;
            text-align: center
        }
    }
  
.titreprincipal {
    padding: 2.5rem;
    padding-bottom: 3.5rem;
    background-color: $fond-grisclair;
    text-align: center;
 
  
        &__titre {
            margin: 0;
        }
  
        &__soustitre {
            font-weight: 300;
            margin: 1rem;
            margin-bottom: 2rem;
        }
  
        &__btn {
          @include btn-primary
        }
    }
  
  
  
/* Fonctionnement */
.fonctionnement {
    padding-bottom: 2.5rem;
    padding-top: 1rem;
     
     
        &__titre {
       
        }
  
        &__btn {
            @include flex-center(column);
            margin: 0;
            padding: 0;
        }
  
        &__btn-flex {
            background-color: $fond-grisclair; 
            padding: 1rem;
            margin: 1rem 1rem;   
            border-radius: 2rem;
            box-shadow: 1px 3px 11px 1px rgba(0, 0, 0, 0.25); 
            width: 20rem;  
        }

        &__icon {
            padding: 1rem 1rem;
        }
  
        &__text {
        }
    }
  
/* Restaurants */
.restaurants {
    padding-top:1rem;
    background-color: $fond-grisclair;
  
        &__titre {
        
        }
    }
  
.cartes {
  
    }
  
.carte {
    background-color: white;
    margin: 1rem;
    border-radius: 1rem;

  
        &__img {
            object-fit: cover;
            border-radius: 1rem 1rem 0 0;
            height: 12rem;
        }
  
        &__nouveau {

        }
  
        &__description {
            padding: 1rem;
        }
  
        &__titre {
            margin: 0;
            margin-bottom: 0.25rem;
        }
  
        &__soustitre {
            margin: 0;
        }
  
        &__btn-like {
            display: flex;


        }
    }
 
  