@use "./variables" as v;
@use "./mixins" as m;

// Loader
.loader {
  $animation-duree: 2s;
  position: fixed;
  display: grid;
  place-items: center;
  background-color: black;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.8;
  animation: chargement 1s $animation-duree;
  animation-fill-mode: forwards;

  &::after {
    content: "";
    width: 6rem;
    height: 6rem;
    border-top: 5px solid v.$color-primary;
    border-right: 5px solid v.$color-secondary;
    border-bottom: 5px solid v.$color-tertiary;
    border-radius: 50%;
    animation: spin $animation-duree infinite linear;
  }
}

/* Localisation */
.localisation {
  @include m.flex-center(row);
  background-color: v.$fond-gris;
  padding: 0.75rem;

  &__form {
    border: none;
    background-color: v.$fond-gris;
    text-align: center;
  }
}

// Titre Principal
.titreprincipal {
  padding: 2.5rem;
  padding-bottom: 3.5rem;
  background-color: v.$fond-grisclair;
  text-align: center;

  &__titre {
    margin: 0;
  }

  &__soustitre {
    font-weight: 300;
    margin: 1rem;
    margin-bottom: 2rem;
  }

  &__btn {
    @include m.btn-primary;
  }
}

/* Fonctionnement */
.fonctionnement {
  padding-bottom: 2rem;
  padding-top: 1rem;
  padding-right: 1rem;

  &__titre {
    padding-bottom: 0.5rem;
  }

  &__btn {
    list-style: none;
    counter-reset: listechiffre;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__btn-flex {
    background-color: v.$fond-grisclair;
    padding: 1.5rem 2rem;
    border-radius: 1.25rem;
    @include m.box-shadow-primary;
    flex-grow: 1;
    position: relative;
    &:hover {
      background-color: lighten(v.$color-primary, 35%);
      transform: scale(1.05);
      & i {
        color: v.$color-primary;
      }
    }

    &::before {
      content: counter(listechiffre);
      counter-increment: listechiffre;
      background-color: v.$color-primary;
      color: v.$txt-fond-sombre;
      border-radius: 1rem;
      width: 2rem;
      height: 2rem;
      @include m.flex-center(row);
      position: absolute;
      bottom: 1rem;
      left: -1rem;
    }
  }

  &__icon {
    margin-left: 1rem;
    margin-right: 2.5rem;
    color: v.$icon-grisfonce;
    font-size: 1.25rem;
  }

  &__text {
  }
}

/* Restaurants */
.restaurants {
  padding-top: 1rem;
  background-color: v.$fond-grisclair;
  @media (min-width: 768px) {
    display: grid;
    @media (min-width: 1200px) {
      padding-top: 2rem;
    }
  }
  &__titre {
  }
}

.cartes {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 1rem;
  }
  @media (min-width: 1400px) {
    grid-template-columns: repeat(4, 1fr);
    padding-top: 2.5rem;
    padding-bottom: 6rem;
  }
}

.carte {
  margin: 1rem;
  border-radius: 1rem;
  position: relative;

  &:hover {
    transform: scale(1.01);
  }

  &__img {
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
    height: 12rem;
  }
  @for $i from 1 through 4 {
    &__img-#{$i} {
      background-image: url("../images/restaurants/menu-#{$i}.jpg");
      @media (min-width: 992px) {
        height: 15rem;
      }
    }
  }

  &__nouveau {
    background-color: v.$color-tertiary;
    color: darken(v.$color-tertiary, 50%);
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &__description {
    position: relative;
    background-color: white;
    padding: 1rem;
    border-radius: 0rem 0rem 1rem 1rem;
    &::before {
      @include m.coeur;
    }
    &::after {
      @include m.coeur($opacity: 0, $font-weight: 900, $color: transparent);
      @include m.gradient-primary;
    }
    &:hover::after {
      opacity: 1;
      transform: scale(1.2);
    }
  }

  &__titre {
    margin: 0;
    margin-bottom: 0.25rem;
  }

  &__soustitre {
    margin: 0;
  }
}
