// Couleurs
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$fond-icone: #9356DC;
$fond-btn: #FF79DA;
$fond-alerte: #99E2D0;
$fond-gris: #e6e3e3;
$fond-grisclair: #F3F3F3;
$fond-noir:rgb(51, 51, 51);

$icon-grisfonce: #7e7e7e;

// Textes
$txt-fond-clair:black;
$txt-fond-sombre:white;

// Media query
$breakpoint:1000px;

